<div id="atribuciones" class="fondo">

</div>
<img src="./img/logo_marca_agua.png" alt="MAT" id="logo">



<script>
$.getJSON( "http://noticias.agriculturaproductiva.gob.ve/app_dev.php/api/informacions/1", function( data ) {
    var items = [];
    $.each( data , function( key, val ) {
        console.log(key);
        if (key===key)items.push( "<li id='" + key + "'>" + val.descripcion + "</li>" );
    });
    $( "<ul/>", {
        "class": "listado",
        html: items.join( "" )
    }).appendTo( "div#atribuciones" );
});

</script>