<h3>Documentos</h3>
<div id="documentos">

</div>




<script>
$.getJSON( "http://noticias.agriculturaproductiva.gob.ve/sitio/web/app_dev.php/api/documentos/all", function( data ) {

  var items = [];
  $.each( data , function( key, val ) {
      console.log(key);
    items.push( "<li id=" + key + "><a target=blank href=http://www.agriculturaproductiva.gob.ve/upload/"+ val.ruta +">" + val.descripcion + "</a></li>" );
  });

  $( "<ul/>", {
    "class": "listado",
    html: items.join( "" )
  }).appendTo( "div#documentos" );
});

</script>