<div id="entes" class="fondo">

</div>
<img src="./img/logo_marca_agua.png" alt="MAT" id="logo">



<script>
$.getJSON( "http://noticias.agriculturaproductiva.gob.ve/app_dev.php/api/entes/all", function( data ) {
    var items = [];
    $.each( data , function( key, val ) {
        if (key===key)items.push( "<li id='" + key + "'><a target=blank href='"+ val.enlace +"'>" + val.descripcion + "</a></li>" );
    });
    $( "<ul/>", {
        "class": "listado",
        html: items.join( "" )
    }).appendTo( "div#entes" );
});

</script>