<form class="form-horizontal" action="inscripcion/inscripcion.php" method="post">
<fieldset>

<!-- Form Name -->
<legend>Encuentro de Tecnologías de la Información y Comunicación Aplicadas a la Agricultura</legend>

<h5>El encuentro que se realizará en el Instituto Venezolano de Investigaciones Científicas (IVIC)
Km 11 carretera panamericana. Altos de Pipe - Edo. Miranda.</h5><h5> Días 20 y 21 de octubre.</h5>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="nombre">Nombres y Apellidos:</label>
  <div class="col-md-4">
  <input id="nombre" name="nombre" type="text" placeholder="" class="form-control input-md" required="">

  </div>
</div>

<!-- Prepended text-->
<div class="form-group">
  <label class="col-md-4 control-label" for="cedula">Cédula de Identidad: </label>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">V-</span>
      <input id="cedula" name="cedula" class="form-control" placeholder="12345678" type="text" required="">
    </div>

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="telefono">Número Telefónico</label>
  <div class="col-md-4">
  <input id="telefono" name="telefono" type="text" placeholder="04121231231" class="form-control input-md" required="">
  <span class="help-block">No introduzca caracteres especiales (/ -).</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">E-mail:</label>
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="institución">Institución:</label>
  <div class="col-md-4">
  <input id="institución" name="institución" type="text" placeholder="" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="profesión">Profesión:</label>
  <div class="col-md-4">
  <input id="profesión" name="profesión" type="text" placeholder="" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="cargo">Cargo/tareas que desempeña:</label>
  <div class="col-md-4">
  <input id="cargo" name="cargo" type="text" placeholder="" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="procedencia">Lugar de Procedencia:</label>
  <div class="col-md-4">
  <input id="procedencia" name="procedencia" type="text" placeholder="" class="form-control input-md" required="">

  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="area">Áreas de Investigación:</label>
  <div class="col-md-4">
    <textarea class="form-control" id="area" name="area">Áreas de Investigación:</textarea>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="aportes">Indique los posibles aportes que podría usted hacer sobre las Tecnologías de la Información y Comunicación aplicadas en la Agricultura en Venezuela:</label>
  <div class="col-md-4">
    <textarea class="form-control" id="aportes" name="aportes"></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button id="enviar" name="enviar" class="btn btn-success" type="submit">Enviar</button>
  </div>
</div>

</fieldset>
</form>
