<div id="noticia" class="fondo">
	
</div>
<div class="paginador">
	 
</div>
<img src="./img/logo_marca_agua.png" alt="MAT" id="logo">


<section class="paginacion">
	<ul>
    <li><a class="homepag" href="#">|<<</a></li>
		<li><a class="repag"  href="#"><</a></li>
		<li><a class="numero 1" id=1 href="#">1</a></li>
		<li><a class="numero 2" id=2 href="#">2</a></li>
		<li><a class="numero 3" id=3 href="#">3</a></li>
		<li><a class="numero 4" id=4 href="#">4</a></li>
		<li><a class="numero 5" id=5 href="#">5</a></li>
		<li><a class="avpag" href="#">></a></li>
    <li><a class="endpag" href="#">>>|</a></li>
	</ul>
</section>

<script>

/****cargar ultima noticia al comienzo******/

$(document).ready(function(){
    
$.getJSON( "http://192.168.2.203/sitio/web/app_dev.php/api/noticias/0", function( datos ) {
  var items = [];
  $.each( datos, function( key, val ) {
    if (key==key)items.push( "<li id='" + key + "'>" + val.descripcion + "</li>");
    
  });
 
  $( "<ul/>", {
    "class": "listado",
    html: items.join( "" )
  }).appendTo( "div#noticia" );
});    
});


//*******************************************




$.get( "http://192.168.2.203/sitio/web/app_dev.php/api/countnoticia", function( data ) {
        //
//click en pagina
$('a.numero').click(function(){
  var indice=($(this).attr('id'));
  indice=parseInt(indice)-1;
  
  $('div#noticia').empty();
  $.getJSON( "http://192.168.2.203/sitio/web/app_dev.php/api/noticias/"+indice, function( datos ) {
  var items = [];
  $.each( datos, function( key, val ) {
    if (key===key)items.push( "<li id='" + key + "'>" + val.descripcion + "</li>");
    
    
  });
 
  $( "<ul/>", {
    "class": "listado",
    html: items.join( "" )
  }).appendTo( "div#noticia" );
});

});

//click en avpag
$('a.avpag').click(function(){
  var val1=$('a.1').attr('id');
  var val2=$('a.2').attr('id');
  var val3=$('a.3').attr('id');
  var val4=$('a.4').attr('id');
  var val5=$('a.5').attr('id');
  if (val5<data) {
  val1= parseInt(val1)+5;
  val2= parseInt(val2)+5;
  val3= parseInt(val3)+5;
  val4= parseInt(val4)+5;
  val5= parseInt(val5)+5;
  }
  $('a.1').html(val1);
  $('a.1').attr('id',val1);
 $('a.2').html(val2);
  $('a.2').attr('id',val2);
 $('a.3').html(val3);
  $('a.3').attr('id',val3);
 $('a.4').html(val4);
  $('a.4').attr('id',val4);
 $('a.5').html(val5);
  $('a.5').attr('id',val5);  
});

//click en repag
$('a.repag').click(function(){
    var val1=$('a.1').attr('id');
    var val2=$('a.2').attr('id');
    var val3=$('a.3').attr('id');
    var val4=$('a.4').attr('id');
    var val5=$('a.5').attr('id');
    if (val1>5) {
        val1= parseInt(val1)-5;
        val2= parseInt(val2)-5;
        val3= parseInt(val3)-5;
        val4= parseInt(val4)-5;
        val5= parseInt(val5)-5;
    }
        $('a.1').html(val1);
        $('a.1').attr('id',val1);
        $('a.2').html(val2);
        $('a.2').attr('id',val2);
        $('a.3').html(val3);
        $('a.3').attr('id',val3);
        $('a.4').html(val4);
        $('a.4').attr('id',val4);
        $('a.5').html(val5);
        $('a.5').attr('id',val5);  
    });
});
</script>
