
<div id="reporte" class= "fondo">
    <object class="embebido" width="100%" height="600px" data="http://www.inameh.gob.ve/web/"></object>
</div>









<script>

  //$(document).ready(function (){
  //   $("object.embebido").attr("value", $("object").attr("data","http://www.inameh.gob.ve/web/"));
     
  //   alert();

  //var elements = $.each($("body.pace-done"), function(){
               //if ($("this").attr("id")!= "regiones"){
                  //console.log(this);
                  //if (!("regiones" in this)) this.remove(0);
                  //$("this").remove();
               //}
               //});
  //});
</script>