<div id="sidebar-wrapper">
	<img src="./img/cintillopeque.jpg" alt="Estadisticas" class="img-responsive">
	<ul class="sidebar-nav">
		<li>
			<a href="#">Inicio</a>
		</li>
		<li>
			<a href="#">El Ministerio</a>
			<ul>
				<li ng-click="openDialog('')">Quienes Somos</li>
				<li ng-click="openDialog('')"> Atribuciones MAT</li>
				<li ng-click="openDialog('')">Directorio y Organigrama</li>
				<li ng-click="openDialog('')">Unidades Estadales</li>
				<li ng-click="openDialog('')">Entes y Empresas Adscritas</li>
				<li ng-click="openDialog('')">Legislación Agraria</li>
				<li ng-click="openDialog('')">Convenios Internacionales</li>
				<li ng-click="openDialog('')">Galerías</li>
				<li ng-click="openDialog('')">Himnos</li>
				<li ng-click="openDialog('')">Contrataciones Públicas</li>
			</ul>
		</li>
		<li>
			<a href="#" ng-click="openDialog('conglomerados')">Conglomerados</a>
		</li>
		<li>
			<a href="#" ng-click="openDialog('servicios')">Servicios</a>
			<ul>
				<li ng-click="openDialog('')">Validación de Constancias de Trabajo</li>
				<li ng-click="openDialog('')">RUNOPA</li>
				<li ng-click="openDialog('')">Recibo de Pago</li>
				<li ng-click="openDialog('')">Existencia Artículos en Agropatria</li>
			</ul>
		</li>
		<li>
			<a href="#" ng-click="openDialog('noticias')">Noticias</a>
		</li>
		<li>
			<a href="#" ng-click="openDialog('descargas')">Descargas</a>
		</li>
	</ul>
	<div id="custom-search-input">
		<div class="input-group col-md-12">
			<input type="text" class="  search-query form-control" placeholder="Buscar" />
			<span class="input-group-btn">
				<button class="btn btn-danger" type="button">
					<span class=" glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div>
	</div>
	<div class="sidebar-icon">
		<img src="./img/bbl.png" alt="bloger" class="img-responsive">
		<img src="./img/bt.png" alt="twitter" class="img-responsive">
		<img src="./img/bfb.png" alt="facebook" class="img-responsive">
		<img src="./img/byt.png" alt="youtube" class="img-responsive">
	</div>
</div>















<div id="sidebar-wrapper">
	<img src="./img/cintillopeque.jpg" alt="Estadisticas" class="img-responsive">
	<ul class="sidebar-nav">
		<li>
			<a href="#">Inicio</a>
		</li>
		<li>
	    	<a href="#" ng-click="openDialog('ministerio')">El Ministerio</a>
		</li>
		<li>
	    	<a href="#" ng-click="openDialog('conglomerados')">Conglomerados</a>
		</li>
		<li>
	    	<a href="#" ng-click="openDialog('servicios')">Servicios</a>
		</li>
		<li>
	    	<a href="#" ng-click="openDialog('noticias')">Noticias</a>
		</li>
		<li>
	    	<a href="#" ng-click="openDialog('descargas')">Descargas</a>
		</li>
	</ul>
	<div id="custom-search-input">
		<div class="input-group col-md-12">
			<input type="text" class="  search-query form-control" placeholder="Buscar" />
			<span class="input-group-btn">
				<button class="btn btn-danger" type="button">
					<span class=" glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div>
	</div>
	<div class="sidebar-icon">
		<img src="./img/bbl.png" alt="bloger" class="img-responsive">
		<img src="./img/bt.png" alt="twitter" class="img-responsive">
		<img src="./img/bfb.png" alt="facebook" class="img-responsive">
		<img src="./img/byt.png" alt="youtube" class="img-responsive">
	</div>
</div>