        <!-- Page Content -->
<div id="page-content-wrapper">
	<header class="menu">
		<div class="sbar">
			<!--<div class="col-lg-1 menu-icon">
				<img src="./img/bbl.png" alt="bloger" class="img-responsive center-block">
				<img src="./img/bt.png" alt="twitter" class="img-responsive center-block">
				<img src="./img/bfb.png" alt="facebook" class="img-responsive center-block">
				<img src="./img/byt.png" alt="youtube" class="img-responsive center-block">
			</div>
			img src="./img/header2.png" alt="Estadisticas" class="img-responsive center-block"-->
			<div class="barra">
				<p id="menu-toggle">
	        	<a href="#" class="boton"><span class="glyphicon glyphicon-menu-hamburger"></span>MENU</a>
	        	</p>
	        </div>
		<!--span class="glyphicon glyphicon-menu-hamburger" id="menu-toggle"></span-->
	</header>
	<div class="container-fluid">
		<section class="col-lg-8">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<p class="titulos">Información <span></span></p>
					<img src="./img/botonInfo.jpg" alt="Estadisticas" class="img-responsive center-block">
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<p class="titulos">Noticias</p>
					<img src="./img/botonoti.jpg" alt="Estadisticas" class="img-responsive center-block">
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<p class="titulos">Runopa</p>
					<img src="./img/botonrunopa.jpg" alt="Estadisticas" class="img-responsive center-block">
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<p class="titulos">Estadisticas</p>
					<img src="./img/botonestad.jpg" alt="Estadisticas" class="img-responsive center-block">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-sm-6 col-xs-12">
					<p class="titulos">Noticias Internas</p>
					<img src="./img/botononinter.jpg" alt="Estadisticas" class="img-responsive center-block">
				</div>
				<div class="col-lg-6 col-sm-6 col-xs-12">
					<p class="titulos">Videos</p>
					<img src="./img/galVid.jpg" alt="Estadisticas" class="img-responsive center-block">
				</div>
			</div>
		</section>
		<section class="col-lg-4">
			<div class="row">
				<div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
					<p class="titulos">Reporte Agro-climatico</p>
					<img src="./img/botonrepagri.jpg" alt="Estadisticas" class="img-responsive center-block">
				</div>
				<div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
					<div class="row">
						<p class="titulos">Enlaces</p>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<img src="./img/botonmatvv.jpg" alt="Estadisticas" class="img-responsive center-block">
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<img src="./img/botonrudae.jpg" alt="Estadisticas" class="img-responsive center-block">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<img src="./img/boton800agri.jpg" alt="0800-Agricul" class="img-responsive center-block">
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<img src="./img/botonmadpue.jpg" alt="Maduro es Peublo" class="img-responsive center-block">
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
	

	<script  type="text/javascript" charset="utf-8" >

$('document').ready(function(){
	 $("p#menu-toggle").on('click',function(e) {
	    e.preventDefault();
        $("div#wrapper").toggleClass("toggled");
    });
});

   
	</script>